doctype html
html
  head
    title Contactez-nous
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      a(href='/') Accueil
      a(href='/services') Nos services
      a(href='/contact') Contactez-nous
    h1 Contactez-nous
    p Vous pouvez nous contacter via le formulaire ci-dessous :
    form
      // Votre formulaire de contact ici
