doctype html
html
  head
    title Accueil
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      a(href='/') Accueil
      a(href='/services') Nos services
      a(href='/contact') Contactez-nous
    h1 Page d'accueil
    p Bienvenue sur notre site !
