doctype html
html
  head
    title Nos services
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      a(href='/') Accueil
      a(href='/services') Nos services
      a(href='/contact') Contactez-nous
    h1 Nos services
    ul
      li Service 1
      li Service 2
      li Service 3
